<div class="basic-grey">
<h1>Seja bem-vindo!</h1>
<h1> <%= params[:controller] %></h1>
<ul>
	<li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><%= link_to "Types", kinds_path %></li>
	<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><%= link_to "Contacts", contacts_path %></li>

</div>